<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/project_app/css/dash.css">
    <title>Honorable Mention</title>


</head>

<body>
    <div class="head">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img class="logo" src="static/project_app/images/hm.png" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/add">Add Recommendation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map">Map</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories:
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item">View All</a>
                            {%for cat in cats%}
                            <a class="dropdown-item">{{cat.title}}</a>
                            {%endfor%}
                        </div>
                    </li>
                </ul>
                <div id="logout">
                    <a class="" href="/logout">Logout</a>
                </div>
            </div>



        </nav>
    </div>
    <div class="job_list">
        <table class="table table-hover table-light">
            <thead class="thead-dark">
                <tr>
                    <th style="width:50%" scope="col">Recommendations</th>
                    <th style="width:30%" scope="col">Location</th>
                    <!-- <th scope="col" name="recommend">Go again?</th> -->
                    <th style="width:10%" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for place in places %}
                {% if place.uploaded_by.id == user.id %}
                <tr class="{{place.categories.all.0.title}}">
                    <td><a href="view_place/{{place.id}}">{{place.title}}</a></td>
                    <td><a href="map/{{place.id}}">{{place.city}}, {{place.state}}</a></td>
                    <!-- {% if place.recommend == 'Yes' %}
                        <td class="good">{{place.recommend}}</td>
                        {% elif place.recommend == 'No' %}
                        <td class="poor">{{place.recommend}}</td>
                        {% else %}
                        <td></td>
                        {% endif %} -->
                    <td>
                        <a class="ml-2" href="edit/{{place.id}}">Edit</a>

                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

    </div>
    <script>

        let state = ""
        $(".dropdown-item").click(function (e) {
            state = $(this).html();
            if (state == "Dining") {
                $(".Sightseeing").hide()
                $(".Activities").hide()
                $(".Dining").show()

            } else if (state == "Sightseeing") {
                $(".Dining").hide()
                $(".Activities").hide()
                $(".Sightseeing").show()

            } else if (state == "Activities") {
                $(".Dining").hide()
                $(".Activities").show()
                $(".Sightseeing").hide()
            } else if (state == "View All") {
                $(".Dining").show()
                $(".Activities").show()
                $(".Sightseeing").show()

            } else {
                $(".Dining").show()
                $(".Activities").show()
                $(".Sightseeing").show()
            }
        })
    </script>
</body>

</html>