<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/project_app/css/view.css">
    <title>Details</title>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">{{place.title}}</h1>
        <p class="lead">{{place.desc}}</p>
        <hr class="my-4">
        <p>{{place.city}}, {{place.state}}</p>
        <p>Posted on {{place.created_at}}</p>
        <a class="btn btn-primary btn-lg" href="/dash" role="button">Go Back</a>
    </div>

</body>

</html>